---
layout: default
title: Daphne Strassmann
---

<div class="title text-center mt-5 mb-5">Daphne Strassmann</div>

<!--div class="iconbar text-center"-->

<ul class="iconbar list-inline text-center">
  <!-- About me - head -->
  <li class="list-inline-item icon-about">
    <img id="head" src="assets/pix/head.svg">
    <div class="caption">About</div>
  </li>
     

  <!-- Follow me - megaphone -->
  <li class="list-inline-item icon-follow">
    <img id="megaphone" src="assets/pix/megaphone.svg">
    <div class="caption">Press &amp; events</div>
  </li>

  <!-- Writing - megaphone -->
  <li class="list-inline-item icon-writing">
    <img id="typewriter" src="assets/pix/typewriter.svg">
    <div class="caption">Writing</div>
  </li>
</ul>

<!-- HIDDEN ITEMS -->

<!-- ABOUT ME -->
<div class="about-me mt-5">
  I am a Memoirist. I write about the intangible spaces 
      between my Latino heritage and my American life, but I am also provoked by 
      memoir as craft and its relationship to memory, especially in the digital age.

  <ul class="contacts list-inline">
    {% for link in site.data.contact %}
    <li class="list-inline-item"><a href="{{ link.url}}"><i class="{{ link.class }}"></i></a></li>
    {% endfor %}
  </ul>
</div>

<!-- EVENTS -->
<ul class="events list-unstyled mt-5">
  {% for link in site.data.events %}
  <li class="mb-2"><a href="{{ link.url }}" target="event">{{ link.title }}</a>
    <br/><i class="submenu">{{ link.tag }}</i></li>
  {% endfor %}
</ul>

<!-- WRITING -->
<ul class="writing list-unstyled mt-5">
  {% for link in site.data.writing %}
  <li class="mb-2"><a href="{{ link.url }}" target="writing">{{ link.title }}</a>
      {% if link.subtitle %}
      &middot; <i class="submenu">{{ link.subtitle }}</i>
      {% endif %}
  </li>
  {% endfor %}
</ul>
