---
layout: nonav
title: Updates
page: page2
---

{% include nav-buttons.html %}

<h1 class="mt-5 mx-1 ms-md-5">Updates</h1>

<ul class="mx-1 ms-md-5 news list-unstyled">
  {% for link in site.data.updates %}
  <li>
    <a class="title" href="{{ link.url }}">{{ link.title }}</a>
    <div class="tag">
      {{ link.tag }}
      {% if link.link_tag == 'youtube' %}
      <i class="fa fa-youtube-play text-secondary"></i>
      {% endif %}
	  
      {% if link.date %}
       <span class="date">
        {% if link.date_tag %}{{ link.date_tag }}{% endif %}
        {{ link.date | date: "%b %-d, %Y" }}
       </span>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
