<nav class="navbar navbar-light mt-5 mx-auto
	    {% if page.page == 'home' %}
	    w-75 
	    {% endif %}
	    ">
  {% if page.page == 'page2' %}
  <a class="brand ps-2 text-decoration-none" href="/">
    Daphne Santana Strassmann
  </a>
  {% endif %}
  <div>
    {% for item in site.data.navbar %}
    <a class="nav-item px-2 text-center text-decoration-none
	    {% assign tag = (page.title | downcase) -%}
	    {% if tag == item.name %}active{% endif -%}
	    "
     {% if item.tooltip %}
     data-bs-toggle="tooltip"
     data-bs-original-title="{{ item.tooltip}}"
     {% endif %}
     {% if item.url contains "https" %}
     target="_blank"
     {% endif %}
     href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
    </div>
</nav>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
