@import url(https://fonts.googleapis.com/css?family=Nunito:300);

body {
 font-family: Nunito, sans-serif;
}

/* DAPHNE STRASSMANN */
.title {
    padding-top: 1.2em;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: .5em;
}

/* ICONS */

#head, #typewriter { width: 7em; }
#megaphone         { width: 7em;   }

.iconbar > li {
    margin-top: 1.7em;
    margin-left: 8.5em;
    margin-right: 8.5em;
}

.iconbar > li:hover {
    /* turn svg red */
    img {  filter: invert(100%) url('../pix/filter.svg#colorFilter'); }
    .caption {  color: #f64043; }
}

/* REVEAL TEXT */

.about-me {
 display: none;
 ul.contacts {
  margin-top: 2em; 
  a {
     font-size: 1.5em;
     margin-right: 1em;
     color: #999;
     &:hover {
       color: #333;
     }
  }
 }
}

ul.events {
 display: none;
}

ul.writing {
  display: none;
  float: right;
}



.menu {
  text-align: left;
  display: none;
  position: absolute;
  li {
    font-size: 80%;
    padding: 1em;
    width: 180px;
    display: block;
    margin-bottom: .3em;
    &:hover {
      background: #DDD;
    }
    a {
    color: black;
    text-decoration: none;
    }
    i {
    color: #666;
    margin-right: .5em;
    }
  }
}


.menu i.submenu {
  font-size: 80%;
  margin-left: 1.1em;
}


.submenu li a {
  color: black;
  text-decoration: none;
}

.submenu li:hover {
  background: #DDD;
}

.submenu li {
    padding: 1em;
    margin-right: 2em;
}

.submenu i {
  margin-right: .25em;
}

.submenu i {
  font-size: 160%;
}



/* PHONE SIZES */

@media (max-height: 550px), (max-width: 645px){
   .header {
      margin-top: 100px;
   }
}

@media (max-width: 1000px){
  .icon {
    margin-right: 4em;
  }
  .title {
    font-size: 30px;
    letter-spacing: 6px;
  }
}

@media (max-width: 775px){
   .iconbar > li {
       margin-left: 2em;
       margin-right: 2em;
   }
   .title {
     font-size: 28px;
     letter-spacing: 3px;
   }
}

@media (max-width: 645px){
   #head, #typewriter { width: 6.5em; }
   #megaphone         { width: 6em;   }
   
   .iconbar > li {
       margin-left: 2em;
       margin-right: 2em;
   }

   .title {
     font-size: 24px;
     letter-spacing: 1px;
   }

}

@media (max-width: 445px){
   #head, #typewriter { width: 5.5em; }
   #megaphone         { width: 5em;   }
   
   .caption {
    font-size: 70%;
   }
}
