@import url(https://fonts.googleapis.com/css?family=Nunito:300);
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');


body {
  font-family: "Nunito", sans-serif;
  font-size: 17pt;
  color: black;
}

.home.title {
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    font-size: 36pt;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-stretch: condensed;
  }


h1 {
  font-size: 1.6rem;
  margin-bottom: 1.2em;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: #f64043;
    /* turn svg red */
    img {  filter: invert(100%) url('../pix/filter.svg#colorFilter'); }
  }
}


.container {
  max-width: 960px;
  padding-bottom: 4em;
}


footer {
  height: 6em;
  background-color: #dbdbd9;
}

header {
  .daphne {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  li.brand {
    margin-right: 6em;
  }
  li.item {
    padding-top: 1.3em;
    margin-left: 2em;
  }
  li.social {
    padding-top: 1.8em;
    margin-left: 1.5em;
  }
}

.date {
  color: #444;
  background-color: #EEE;
  font-size: 70%;
  border-radius: 4px;
  padding: 0px 4px;
  margin-left: .5em;
}

.writing {
  ul {
    padding-left: 3em;
  }
}

.news {
  li {
    margin-bottom: .7em;
    .tag {
      margin-bottom: .2em;
      font-size: 80%;
    }
  }
}



/* ICONS */

#head, #typewriter, #megaphone { width: 4em; }

.iconbar > li {
    /* margin-top: 1.7em; */
    margin-left: 8.5em;
    margin-right: 8.5em;
}

a.noline:hover {
    /* turn svg red */
    text-decoration: none;
    img {  filter: invert(100%) url('../pix/filter.svg#colorFilter'); }
    .caption {  color: #f64043; }
}


/* PAGE2 */

.page2 {
    h1 { margin-top: 2em }
}


/* PHONE SIZES */

.about {
  font-size: 90%;
  padding-right: 12em;
}
.content {
  padding-left: 4em;
}


@media (max-width: 1000px){
 .about {
    padding-right: 2em;
  }
 .content {
    padding-left: 2em;
  }

}


