@import url(https://fonts.googleapis.com/css?family=Nunito:300);

body {
 font-family: Nunito, sans-serif;
}

/* DAPHNE STRASSMANN */
.title {
    padding-top: 3em;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: .5em;
}

/* ICONS */

#head, #typewriter { width: 7.5em; }
#megaphone         { width: 7em;   }

.iconbar > li {
    margin-left: 4em;
    margin-right: 4em;
}

.iconbar > li:hover {
    img {  filter: invert(100%) url('../pix/filter.svg#colorFilter'); }
    .caption {  color: #f64043; }
}

/* REVEAL TEXT */

.about-me {
  position: absolute;
  text-align: left;
  font-size: 90%;
  margin: 20px;
  padding: 2em;
  width: 100%;
  display: none;
  background: rgba(255, 255, 255, .9);
}


.menu {
  text-align: left;
  display: none;
  position: absolute;
  li {
    font-size: 80%;
    padding: 1em;
    width: 180px;
    display: block;
    margin-bottom: .3em;
    &:hover {
      background: #DDD;
    }
    a {
    color: black;
    text-decoration: none;
    }
    i {
    color: #666;
    margin-right: .5em;
    }
  }
}



.menu.follow span {
  margin-left: -7px;
}

.menu i.submenu {
  font-size: 80%;
  margin-left: 1.1em;
}


.submenu li a {
  color: black;
  text-decoration: none;
}

.submenu li:hover {
  background: #DDD;
}

.submenu li {
    padding: 1em;
    margin-right: 2em;
}

.submenu i {
  margin-right: .25em;
}

.submenu i {
  font-size: 160%;
}


ul.submenu.about {
    margin-top: 3em;
}

.page-container {
   width: 100%;
   text-align: center;
}

.header {
  margin-top: 100px;
}


.subtitle {
   position: relative;
   left: 0px;
   font-size: 25px;
   text-transform: uppercase;
}

/* PHONE SIZES */

@media (max-height: 550px), (max-width: 645px){
   .header {
      margin-top: 100px;
   }
}

@media (max-width: 1000px){
  .icon {
    margin-right: 4em;
  }
  .title {
    font-size: 30px;
    letter-spacing: 6px;
  }
}

@media (max-width: 775px){
   .iconbar > li {
       margin-left: 2em;
       margin-right: 2em;
   }
   .title {
     font-size: 28px;
     letter-spacing: 3px;
   }
}

@media (max-width: 645px){
   #head, #typewriter { width: 6.5em; }
   #megaphone         { width: 6em;   }
   
   .iconbar > li {
       margin-left: 2em;
       margin-right: 2em;
   }

   .title {
     font-size: 24px;
     letter-spacing: 1px;
   }

}

@media (max-width: 445px){
   #head, #typewriter { width: 5.5em; }
   #megaphone         { width: 5em;   }
   
   .caption {
    font-size: 70%;
   }
}
