<!DOCTYPE html>
<html lang="en-us" class="h-100">
  {% include head.html %}
  <body class="d-flex flex-column min-vh-100">
    <div class="container py-3">
      {% include navbar.html %}
      <div class="container content">
      {{ content }}
      </div>
    </div>
    <footer class="mt-auto p-5">
      <div class="d-flex contacts flex-row-reverse mr-5">
	{% for link in site.data.contact %}
	<a class="p-3" href="{{ link.url}}"><i class="{{ link.class }}"></i></a>
	{% endfor %}
      </div>
    </footer>
  </body>
</html>
